.tour-background {

  background-image: url(https://www.passagemaker.com/.image/t_share/MTQ2NDM4NjQ0NTg4MjI2MDI5/boats-in-marina-wm.jpg);
  height: 45pc;
}

.destination {
  margin: 150px 0px 0px 0px;
}