
    <img class="img img-2 d-flex justify-content-center align-items-center imageses" src="{{singleHotel.URL}}" />
    <div class="text p-3">
      <div class="d-flex">
        <div class="one">
          <h3><a href="{{singleHotel.URL}}">{{singleHotel.name}}</a></h3>
          <p class="rate">
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star-o"></i>
            <span>{{singleHotel.rating}} Rating</span>
          </p>
        </div>
        <div class="two">
          <span class="price per-price">${{singleHotel.price}}<br><small>/night</small></span>
        </div>
      </div>
      <p class="Text-overflow">{{singleHotel.description}}</p>
      <hr>
      <p class="bottom-area d-flex">
        <span><i class="icon-map-o"></i> {{singleHotel.country}}, {{singleHotel.city}}</span>
        <span class="ml-auto"><a href="#">Book Now</a></span>
      </p>
    </div>
  