<img src="{{singleShop.URL}}" class="img img-2 d-flex justify-content-center align-items-center imageses" />
<div class="text p-3">
  <h3><a href="#">{{singleShop.name}}</a></h3>
  <p class="rate">
    <i class="icon-star"></i>
    <i class="icon-star"></i>
    <i class="icon-star"></i>
    <i class="icon-star"></i>
    <i class="icon-star-o"></i>
    <span>{{singleShop.rating}}</span>
  </p>
  <p class="Text-overflow">{{singleShop.description}}</p>
  <hr>
  <p class="bottom-area d-flex">
    <span><i class="icon-map-o"></i> {{singleShop.city}}, {{singleShop.country}}</span>
    <span class="ml-auto"><a href="#">Discover</a></span>
  </p>
</div>

