.imageses{
    border: 1px solid #ddd;
    border-radius: 4px;
    /* padding: 5px; */
    width: 258px;
}

.Text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 175px;
  width: auto;
}