<a href="#" class="img img-2 d-flex justify-content-center align-items-center"
  style="background-image: url(../images/hotel-2.jpg);">
  <div class="icon d-flex justify-content-center align-items-center">
    <span class="icon-search2"></span>
  </div>
</a>
<div class="text p-3">
  <div class="d-flex">
    <div class="one">
      <h3><a href="#">Hotel, Italy</a></h3>
      <p class="rate">
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star"></i>
        <i class="icon-star-o"></i>
        <span>8 Rating</span>
      </p>
    </div>
    <div class="two">
      <span class="price per-price">$40<br><small>/night</small></span>
    </div>
  </div>
  <p>Far far away, behind the word mountains, far from the countries</p>
  <hr>
  <p class="bottom-area d-flex">
    <span><i class="icon-map-o"></i> Miami, Fl</span>
    <span class="ml-auto"><a href="#">Book Now</a></span>
  </p>
</div>