.hotels-background{
    background-image: url(https://www.nassauparadiseisland.com/sites/default/files/images/properties/hero/stay-atlantis-paradise-island.jpg);
     height: 45pc;
}
.hotels-hotels{
     margin: 150px 0px 0px 0px;
     
}