  <div class="hero-wrap js-fullheight hotels-background"
    style="background-image:
    url(https://www.nassauparadiseisland.com/sites/default/files/images/properties/hero/stay-atlantis-paradise-island.jpg);">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
        data-scrollax-parent="true">
        <div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
          <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a
                routerLink="/home">Home</a></span> <span>Hotels</span></p>
          <h1 class="mb-3 bread hotels-hotels" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Hotels</h1>
        </div>
      </div>
    </div>
  </div>


  <section class="ftco-section ftco-degree-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 sidebar">
          <div class="sidebar-wrap bg-light ftco-animate">
            <h3 class="heading mb-4">Find {{reqwest}}</h3>
            <form action="#">
              <div class="fields">
                <div class="form-group">
                  <input type="text" (change)="onChange($event)" class="form-control"
                    placeholder="Destination, City">
                </div>
                <div class="form-group">
                  <div class="select-wrap one-third">
                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                    <select name="" id="" class="form-control" placeholder="Keyword search">
                      <option value="">Select Location</option>
                      <option value="">London United Kingdom </option>
                      <option value="">Paris France</option>
                      <option value="">Rome Italy</option>
                      <option value="">Berlin Deutschland</option>
                      <option value="">Beijing China</option>
                      <option value="">Nassau Commonwealth of the Bahamas</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" id="checkin_date" class="form-control" placeholder="Date from">
                </div>
                <div class="form-group">
                  <input type="text" id="checkin_date" class="form-control" placeholder="Date to">
                </div>
                <div class="form-group">
                  <div class="range-slider">
                    <span>
                      <input type="number" value="25000" min="0" max="120000" /> -
                      <input type="number" value="50000" min="0" max="120000" />
                    </span>
                    <input value="1000" min="0" max="120000" step="500" type="range" />
                    <input value="50000" min="0" max="120000" step="500" type="range" />
                    
                  </div>
                </div>
                <div class="form-group">
                  <input type="submit" (click)="onSearch()" value="Search" class="btn btn-primary py-3 px-5">
                </div>
              </div>
            </form>
          </div>
          <div class="sidebar-wrap bg-light ftco-animate">
            <h3 class="heading mb-4">Star Rating</h3>
            <form method="post" class="star-rating">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">
                  <p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i
                        class="icon-star"></i><i class="icon-star"></i></span></p>
                </label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">
                  <p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i
                        class="icon-star"></i><i class="icon-star-o"></i></span></p>
                </label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">
                  <p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i
                        class="icon-star-o"></i><i class="icon-star-o"></i></span></p>
                </label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">
                  <p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-o"></i><i
                        class="icon-star-o"></i><i class="icon-star-o"></i></span></p>
                </label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">
                  <p class="rate"><span><i class="icon-star"></i><i class="icon-star-o"></i><i
                        class="icon-star-o"></i><i class="icon-star-o"></i><i class="icon-star-o"></i></span></p>
                </label>
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="row" >
            <div class="col-md-4 ftco-animate" *ngFor="let hotel of hotels">
              <div class="destination">
                <app-hotel-item  [singleHotel]="hotel"></app-hotel-item>
              </div>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col text-center">
              <div class="block-27">
                <ul>
                  <li><a href="#">&lt;</a></li>
                  <li class="active"><span>1</span></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">&gt;</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div> <!-- .col-md-8 -->
      </div>
    </div>
  </section> <!-- .section --> 