<!-- <a href="#" class="img img-2 d-flex justify-content-center align-items-center"
  style="background-image: url(../images/restaurant-1.jpg);">
  <div class="icon d-flex justify-content-center align-items-center">
    <span class="icon-search2"></span>
  </div>
</a> -->
<img src="{{singleRestaurant.URL}}" class="img img-2 d-flex justify-content-center align-items-center imageses" />
<div class="text p-3">
  <h3><a href="#">{{singleRestaurant.name}}</a></h3>
  <p class="rate">
    <i class="icon-star"></i>
    <i class="icon-star"></i>
    <i class="icon-star"></i>
    <i class="icon-star"></i>
    <i class="icon-star-o"></i>
    <span>{{singleRestaurant.rating}}</span>
  </p>
  <p class="Text-overflow">{{singleRestaurant.description}}</p>
  <hr>
  <p class="bottom-area d-flex">
    <span><i class="icon-map-o"></i> {{singleRestaurant.city}}, {{singleRestaurant.country}}</span>
    <span class="ml-auto"><a href="#">Discover</a></span>
  </p>
</div>
