.imageses {
  border: 1px solid #ddd;
  border-radius: 4px;
  /* padding: 5px; */
  width: 13rem;

}

.Text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 175px;
  width: 11rem;
}

.destination {
  display: block;
  width: 13rem;
  margin-bottom: 30px;
}